.mail-compose {
    z-index: 1;
    position: fixed;
    bottom: 0;
    left: 1em;
    width: 400px;
    height: 60vh;
    border-radius: 1em 1em 0 0;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 2px 28px;
}

.mail-compose ul {
    padding-inline-start: 0;
    width: 100%;
}

.compose-header {
    background-color: rgb(230, 236, 240);
    padding: .7em;
    margin: 0;
}

.close-compose {
    background-color: transparent;
    border: none;
    font-family: Roboto-Medium, sans-serif;
    width: 25px;
    height: 25px;
    transition: .2s ease-in-out;
}

.close-compose:hover {
    scale: 1.1;
    background-color: white;
    border-radius: 2em;
}

.mail-compose form {
    height: 380px;
    position: relative;
}

.mail-compose input {
    width: 381px;
    display: block;
    height: 2.5em;
    border: none;
    border-block-end: 1px solid rgb(230, 236, 240);
    padding-inline: .7em;
}

.mail-compose input:focus,
.mail-compose textarea:focus {
    outline: 0;
}

.mail-compose textarea {
    width: 100%;
    height: 250px;
    padding: .7em;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    font-family: Roboto-Regular, sans-serif;
    padding-inline-start: .7em;
    resize: none;
}

.btn-send-mail {
    position: absolute;
    right: 1.2em;
    bottom: .7em;
    font-family: Roboto-Medium, sans-serif;
    padding: 1em;
    width: 5.8em;
    background-color: rgb(31, 77, 161);
    color: white;
    border: none;
    border-radius: 2em;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 2px 28px;
    transition: .2s ease-in-out;
}

.btn-send-mail i {
    width: 1.5em;
}

.btn-send-mail:hover {
    background-color: rgb(107, 146, 219);
    color: white;
}

.btn-send-mail:hover * {
    scale: 1.1;
}