.mail-list ul {
    padding-inline-start: 0;
}

.mail-list li {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Roboto-medium, sans-serif;
}

.read {
    background-color: #f2f6fc;
    font-family: Roboto-light, sans-serif;
}