.note-container {
    border-radius: 1em;
    position: relative;
}

.note-card {
    padding: 15px;
}

.note-trash {
    border: none;
    background-color: transparent;
    position: absolute;
    right: 5px;
    bottom: 5px;
}