.note-add-input {
    width: 450px;
    margin: auto;
    margin-block: 35px;
    height: 150px;
    font-size: 1.2em;
    border-radius: 1.2em;
    background-color: white;
    border: none;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 2px 28px;
    padding: 0;
    padding-block-end: 35px;
    position: relative;
}

.note-add-input input,
textarea {
    border: none;
    border-block-end: 1px solid rgb(193, 193, 193);
}

.note-add-input input:last-of-type {
    flex: 1;
}

.input-title input {
    font-size: 1.1em;
    padding-inline: 0.6em;
    padding-block: 0.4em;
    background-color: transparent;
}

.input-title textarea {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    font-size: 1.1em;
    font-family: Roboto-Regular;
    padding-inline-start: 0.6em;
    margin-block-end: 30px;
    resize: none;
}

.input-title textarea:focus,
.input-title input:focus {
    outline: 0;
}

.note-add-input .input-btns {
    position: absolute;
    bottom: 8px;
    left: 15px;
    width: 420px;
}

.note-add-input .input-btns button {
    background-color: transparent;
    height: 40px;
    border: none;
    cursor: pointer;
}

.note-add-input .input-btns button:hover {
    background-color: rgb(220, 213, 200);
    border-radius: 2em;
}

.color-input-container {
    background-color: var(--clr1bg-light);
    padding: 20px;
    display: flex;
    gap: 10px;
}

.color-input {
    background-color: var(--clr2bg);
    padding: 5px;
    min-height: 40px;
    min-width: 40px;
    cursor: pointer;

    display: grid;
    place-items: center;
}