.note-container {
    border-radius: 1em;
    position: relative;
}

.note-card {
    padding: 15px;
    padding-block-end: 30px;
}

.note-pin,
.note-card li {
    border: none;
    background-color: transparent;
    position: absolute;
}

.note-card li button {
    border: none;
    background-color: transparent;
}

.note-pin:hover,
.note-card li button:hover {
    opacity: .6;
    scale: 1.1;
}

.note-card li {
    right: 5px;
    bottom: 5px;
}

.note-pin {
    left: 5px;
    top: 15px;
}

.note-img {
    width: 100%;
    object-fit: cover;
}