.columns {
    column-count: 4;
    column-width: 220px;
    gap: 15px;
    padding-inline-start: 0;
    margin: 15px;
}

.note-wrapper {
    margin-inline: 3em;
}

.note-item {
    display: grid;
    /* grid-template-columns: 2;
    grid-template-rows: 4; */
    /* border: 1px solid darkgray; */
    border-radius: 1.1em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: rgb(255, 251, 235);
    break-inside: avoid;
    margin-block-end: 1em;
}

.note-edit {
    z-index: 10;
    break-inside: avoid;
}

.note-item:first-of-type {
    margin-block-start: 0;
}

.note-item h1 {
    font-family: Roboto-Regular, sans-serif;
    font-size: 1.5em;
    padding-inline-start: 1em;
}

.note-item p {
    font-family: Roboto-Light, sans-serif;
    font-size: 1em;
}