.mail-preview ul {
    margin: 0;
    padding-inline-start: 0;
    border-inline-start: 1px solid rgba(198, 193, 193, 0.6);
}

.mail-preview li {
    padding: 5px;
}

.mail-preview hr {
    margin: 0;
}

.mail-preview:hover {
    background-color: rgb(235, 225, 225);
    color: rgb(61, 61, 61);
}

.mail-preview img {
    width: 20px;
    cursor: pointer;
    padding-inline: 3px;
}

.mail-preview-content {
    flex-grow: 1;
}

.mail-preview-content h5 {
    font-size: .8em;
    font-family: Roboto-Light;
}

.mail-sender-name {
    width: 10em;
    margin-inline-start: 1em;
    text-align: left;
}

.mail-subject {
    margin-inline-end: 1em;
}

.date-recieved {
    width: 100px;
    text-align: left;
    margin-inline-end: 10px;
}