header {
    background: orange;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.app-header {
    padding: 20px;
}

.logo-header {
    width: 30px;
}


nav a {
    margin: .5em;
}

nav a:active {
    color: white;
}

.app-header a img {
    width: 30px;
    padding: .3em;
    transition: .2s ease-in-out;
}

.app-header a img:not(.logo-header):hover {
    background-color: rgb(224, 224, 224);
    border-radius: 50%;
}