header {
    background: orange;
    border-bottom: 2px solid white;
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.logo-header {
    width: 30px;
}


nav a {
    margin: .5em;
}

nav a:active {
    color: white;
}

.app-header a img {
    width: 30px;
    padding: .3em;
}

.app-header a img:hover {
    background-color: rgb(220, 213, 200);
    border-radius: 50%;
}