header {
    background: orange;
    border-bottom: 2px solid white;
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.logo-header {
    width: 30px;
}


nav a {
    margin: .5em;
}

nav a:active {
    color: white;
}

nav a.active {
    color: red;
    font-weight: bold;
    /* text-decoration: overline; */
}


.app-header a img {
    width: 30px;
}